* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    /*background-image: url("Imagenes/verde.jpg");*/
    background-color: white;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header
{
    background-color: rgb(255, 255, 255);
}

.cuadrado {
    width:25%;
    max-width:100px;
    height:0;
    padding-top:25%;
    position:relative;
    background:rgb(230, 224, 224);
}

table.dataTable thead {
    background: linear-gradient(to right, #1b7fe3, #191d5c);
    color:white;
}
