* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-image: url("Imagenes/fondo2.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header
{
    background-color: rgb(78, 74, 74);
}
